/*----------------
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/

.img-fluid {
    max-width: 100%;
}

/*----------------
    TYPOGRAPHY
------------------*/
h1 {
    font-family: "Roboto", serif;
    font-size: 70px;
}

body {
    font-family: "Roboto", serif;
}

p {
    line-height: 1.5;
}

.color-grey{
    color: grey;
}

h2 {
    font-family: "Roboto", serif;
    font-size: 40px;
}

.col-plane h3 {
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 25px;
}

.col-plane-big h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
 }

.col-plane h4 {
    padding-top: 45px;
    padding-bottom: 50px;
    font-size: 18px;
 }

 .col-right-b h3 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
 }

 .col-buisness h3 {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 25px;
 }

 .col-footer h4 {
    padding-top: 45px;
    padding-bottom: 30px;
    font-size: 25px;
    color: white;
 }

/*-----------
CONTAINER
------------*/
.container-large {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
    BOTTONI
------------------*/

.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.btn-blue-col {
    background-color: #0061FE;
    color: white;
    width: 100%;
    padding: 13px;
    text-align: center;
  
}

.btn-blue {
    background-color: #0061FE;
    color: white;
    width: 210px;
    padding: 13px;
    text-align: center;
}

.btn-blue-header {
    background-color: #0061FE;
    color: white;
    padding: 6px 12px;
}

.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin-top: 35px;
}

.btn-eff:hover {
    background-color: #002ead;
    transition: 0.7s;
}

.btn-effect:hover {
    background-color: #979899;
    transition: 0.7s;
}

/*----------------
    HEADER
------------------*/

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
header > .header-left {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

header > .header-right {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px
}

.main-nav ul a {
    text-decoration: none;
    color: inherit
}

header li:hover {
    color: #0061FE;
    transition: 0.7s;
}
/*----------------
    SECTION-HERO
------------------*/

.hero {
    background-color: #B4D0E6;
    padding-top: 50px;
}

.row-hero {
    margin-top: 5px;
    margin-bottom: 150px;
    display: flex;
    position: relative;
    bottom: -70px;
    gap: 1px;
}

.col-left {
    width: 30%;
    position: relative;
}

.col-right {
    width: 70%;
    position: relative;
}

.box-img {
    width: 100%;
}

.col-left > :nth-child(3) {
    padding-top: 20px;
}

.col-left > :nth-child(1) {
    padding-bottom: 20px;
} 

.arrow-down {
    font-size: 60px;
    position: absolute;
    bottom: 90px;
    left: 0px;
}

/*----------------
    SECTION-PLANE
------------------*/

.choice {
    padding-top: 50px;
}

.row-plane {
    margin-top: 40px;
    margin-bottom: 70px;
    display: flex;
    position: relative;
    gap: 40px;
}

.col-plane {
    width: calc(100% / 3);
    position: relative;
    border: 1px solid grey;
}

.asw {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid grey;
}

.border {
    padding: 20px;
}

.nav-choice ul {
    list-style: none;
    gap: 20px;
    
    
}

.nav-choice ul li{
   padding-bottom: 20px;
}

.nav-choice ul a {
    text-decoration: none;
    color: inherit; 
    display: flex;
}

.nav-choice ul i {
   padding-right: 10px;
}

.col-plane p {
    padding-top: 10px;
    padding-bottom: 30px;
}


.col-plane .btn {
    margin-top: 40px;
    margin-bottom: 30px;
}

.col-plane hr {
    width: 25%;
}


.nav-choice-blu ul {
    list-style: none;
    gap: 20px;
    
    
}

.nav-choice-blu ul li{
   padding-bottom: 20px;;
    
    
}

.nav-choice-blu ul i {
    padding-right: 10px;
 }

.nav-choice-blu ul a {
    text-decoration: none;
    color: inherit;  
    display: flex; 
}


.nav-choice-blu ul i {
    color: blue;
}


.col-plane-big {
    width: 100%;
    position: relative;
    border: 1px solid grey;
}

.spaz {
    padding-bottom: 50px;
}

.pos-btn {
    
    position: absolute;
    top: 85px;
    right: 20px;
}

/*----------------
    SECTION-TROVA-PARTNER
------------------*/

.row-partner {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    position: relative;
    gap: 40px;
}

.col-left-b {
    width: 60%;
    position: relative;
}

.col-right-b {
    width: 40%;
    position: relative;
}

/*----------------
    SECTION-BUISNESS
------------------*/

.row-buisness {
    margin-top: 40px;
    display: flex;
    position: relative;
    gap: 40px;
}

.col-buisness {
    width: calc (100% / 3);
    position: relative;
    padding: 20px;
}

/*----------------
   LAST-SECTION
------------------*/

.last-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.last-section h2{
    padding-bottom: 60px;
}

/*----------------
   FOOTER
------------------*/

footer {
    background-color: black;
    color: white;
}
.col-footer {
    width: calc (100% / 5);
    position: relative;
    padding: 20px;
}

.row-footer {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    position: relative;
    gap: 40px;
    justify-content: space-between;
}

.nav-footer ul {
    list-style: none;
    gap: 20px
}

.nav-footer ul a {
    text-decoration: none;
    color: grey;
} 

.nav-footer ul li{
    padding-bottom: 15px;
}

.select-lenguage {
    color: grey;
    padding: 50px 20px;
    line-height: 8;
}

footer hr {
    width: 10%;
    color: grey;
}
